//ШРИФТЫ
$Poppins: 'Poppins', sans-serif;
$Inter: 'Inter', sans-serif;
$dmSans: 'DM Sans', sans-serif;
$Manrope: 'Manrope', sans-serif;
$Outfit: 'Outfit', sans-serif;
$PlusJakartaSans: 'Plus Jakarta Sans', sans-serif;
$PublicSans: 'Public Sans', sans-serif;
$Roboto: 'Roboto', sans-serif;
$Urbanist: 'Urbanist', sans-serif;

//КАРТИНКИ
// $facebook: ;
// $in: ;
// $instagram: ;
// $twitter: ;
$logoFooter: url('images/Logo-footer.svg');
$logo: url('images/Logo.svg');
$searchBg: url('images/search-bg.svg');
$search: url('images/Search.svg');

//ЦВЕТА
$increasePrise: #10C352;
$decreasePrise: #E23333;

//МИКСИНЫ
@mixin btn($border, $bg, $padding...) {
    border: $border;
    background-color: $bg;
    padding: $padding;

    @content;
}

@mixin text($fontFamily, $fontSize, $color) {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $color;

    @content;
}

* {
    margin: 0;
    padding: 0;
    font-family: $Poppins;
}

body {
    background-color: #f9f9f9;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;

    button {
        @include btn(1px solid #141416, #141416, 10.5px 16.25px) {
            border-radius: 11.501px;

            @include text($Inter, 0.71881rem, #fff) {
                font-weight: 600;
                text-transform: uppercase;
                line-height: 150%;
            }
        }

        &:hover {
            cursor: pointer;
            opacity: 0.9;
        }
    }
}

.header-container {
    margin: 45px 93px 114px;
}

nav {
    display: flex;
    align-items: center;

    .navs {
        display: flex;
        text-transform: uppercase;

        li {
            margin-right: 3.3rem;
            font-size: 17.829px;

            a {
                @include text($Inter, 0.79244rem, #606060) {
                    font-weight: 500;
                }
            }

            &:last-of-type {
                margin-right: 0px;
            }
        }

    }

}

.search {
    background-image: $searchBg;
    background-repeat: no-repeat;
    width: 350px;
    display: flex;
    align-items: center;

    img {
        padding: 18px 22px;
    }

    input {
        width: 197px;
        height: 18px;
        background-color: #EDEDED;
        border: 0px;
        font-size: 15.711px;
        letter-spacing: -0.314px;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: #C2C3CB;
        }
    }
}

.main {}

.main-container {}

.hero-elem {
    display: flex;

    .hero-elem__text-container {
        margin: 0 130.6px 0 98px;

        &::before {
            content: '';
            display: inline-block;
            background-color: #cdcdcd;
            width: 195px;
            height: 1px;
            margin-bottom: 10px;
        }
    }

    .text-container {
        .hero-elem__text {
            margin-bottom: 2.81rem;

            .hero-elem__title {
                margin-bottom: 16px;

                @include text($Poppins, 4.69rem, #141416) {
                    font-weight: 600;
                    line-height: 120%;
                    letter-spacing: -3px;
                }
            }

            .hero-elem__subtitle {
                strong {
                    color: #141416;
                }

                @include text($Inter, 1.125rem, #676767) {
                    font-weight: 600;
                    line-height: 156%;
                }
            }
        }

        .hero-elem__btns {
            margin-bottom: 82px;

            .hero-elem__btn_black {
                margin-right: 23px;

                @include btn(0px, #000, 18px 30px) {
                    border-radius: 12.412px;

                    @include text($Poppins, 1.017rem, #fff) {
                        letter-spacing: 0.163px;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                }

                &:hover {
                    cursor: pointer;
                    opacity: 0.9;
                }
            }

            .hero-elem__btn_white {

                @include btn(1.5px solid #000, transparent, 18px 21px) {
                    border-radius: 12.412px;

                    @include text($Poppins, 1.017rem, #000) {
                        letter-spacing: 0.163px;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .features {
            display: flex;

            .features__textblock {
                margin-right: 45.69px;

                h1 {
                    margin-bottom: 3.92px;

                    @include text($PublicSans, 36.77px, #141416) {
                        font-weight: 600;
                        line-height: 125%;
                    }
                }

                p {
                    margin-bottom: 165.08px;

                    @include text($Inter, 12.257px, #848586) {
                        font-weight: 500;
                        line-height: 150%;
                    }
                }
            }

        }
    }

    .hero-elem__img-container {
        position: relative;

        .img-1 {
            position: absolute;
            top: 7px;
            z-index: 2;
        }

        .img-1_blur {
            position: absolute;
            top: 30.91px;
            border-radius: 11.957px;
            background: lightgray 50% / cover no-repeat;
            filter: blur(41.85015106201172px);
        }

        .img-2 {
            position: absolute;
            top: 188px;
            left: 431px;
            z-index: 2;
        }

        .img-2_blur {
            position: absolute;
            top: 212.74px;
            left: 431px;
            border-radius: 9.644px;
            background: lightgray 50% / cover no-repeat;
            filter: blur(33.75477600097656px);
        }

        .img-3 {
            position: absolute;
            top: 48px;
            left: 411px;

        }

        .img-4 {
            position: absolute;
            top: -12px;
            left: 607px;
        }
    }
}

.weekly {
    background-color: #F1F1F1;
    padding: 70px 0 90px;
    position: relative;

    .weekly-title {
        @include text($Poppins, 45px, #c5c5c5) {
            font-weight: 600;
            line-height: 59.812%;
            text-align: center;
        }
    }

    .slider-wrapper {
        padding: 109.1px 0 114.72px 0;
    }

    .slider {
        overflow: hidden;


        .slider-line {
            display: flex;

            .slider-elem-wrapper {
                margin-right: 39.84px;
                background-color: #fff;
                padding: 14.11px 14.11px 20.58px;
                border-radius: 23.479px;
                box-shadow: 38.817px 11.763px 58.813px 0px rgba(199, 199, 199, 0.60);

                .slider-elem {
                    position: relative;

                    .time {
                        display: inline-block;
                        position: absolute;
                        top: 13.23px;
                        left: 128.15px;
                        z-index: 2;
                        padding: 9.41px 14.12px;
                        border-radius: 9.41px;
                        border: 1.176px solid rgba(28, 29, 32, 0.08);
                        background: rgba(28, 29, 32, 0.35);
                        box-shadow: 0px 4.705px 14.115px 0px rgba(28, 29, 32, 0.08);
                        backdrop-filter: blur(2.352520704269409px);

                        @include text($Poppins, 14.115px, #fff) {
                            font-weight: 500;
                            line-height: 150%;
                            letter-spacing: 0.118px;
                        }
                    }

                    >img {
                        margin-bottom: 18.82px;
                    }

                    h5 {
                        margin-bottom: 14.12px;

                        @include text($Poppins, 21.173px, #141416) {
                            font-weight: 600;
                            line-height: 140%;
                        }
                    }

                    .current-container {
                        display: flex;
                        justify-content: space-between;
                        align-content: center;

                        .current-text {
                            display: flex;
                            flex-direction: column;
                            gap: 4.71px;

                            >p {
                                @include text($Poppins, 14.115px, #94A3B8) {
                                    font-weight: 400;
                                    line-height: 150%;
                                    letter-spacing: 0.118px;
                                }
                            }

                            .number {
                                display: flex;
                                gap: 2.35px;

                                .number-text {
                                    @include text($Poppins, 16.468px, #141416) {
                                        font-weight: 400;
                                        line-height: 150%;
                                    }
                                }
                            }
                        }

                        .current-btn {
                            display: flex;
                            align-items: center;

                            @include btn(0px, #141416, 9.41px 18.82px) {
                                border-radius: 11.763px;
                            }

                            @include text($Poppins, 14.115px, #fff) {
                                font-weight: 700;
                                line-height: 150%;
                                letter-spacing: 0.118px;
                            }

                            &:hover {
                                cursor: pointer;
                                opacity: 0.93;
                            }
                        }
                    }
                }
            }
        }
    }

    .navigation {
        width: 122.8px;
        height: 25.8px;
        margin: 0 auto;
        padding: 21.6px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 17.2px;
        box-shadow: 0 43.1px 34.5px -25.9px rgba(15, 15, 15, 0.12);
        background-color: #fcfcfd;

        .navigation__arrows {
            display: flex;
            gap: 34.5px;

            .arrow-left {
                transform: rotate(-180deg);
                cursor: pointer;
            }

            .row {
                width: 2.2px;
                border-radius: 2.2px;
                background-color: #e6e8ec;
            }

            .arrow-right {
                cursor: pointer;
            }
        }
    }

}

.recently-viewed {
    width: 365px;
    flex-grow: 0;
    padding: 26.4px 24px 21.1px;
    border-radius: 16px;
    box-shadow: 10px 10px 50px 0 rgba(20, 20, 22, 0.1);
    border: solid 1px #edf2f7;
    background-color: #fff;
    position: absolute;
    left: 976px;
    top: 1642px;

    .recently-viewed__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 27.6px;

        h3 {
            @include text($Poppins, 21px, #1a202c) {
                font-weight: 600;
                line-height: 1.35;
                letter-spacing: 0.2px;
            }
        }

        img {
            cursor: pointer;
        }
    }

    .recently-viewed__items-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .recently-viewed__item {
            display: grid;
            grid-template-columns: auto 1fr auto;


            img.recently-viewed__icon {
                margin-right: 15.4px;
            }

            .recently-viewed__text {
                align-self: center;

                &>:first-child {
                    @include text($Poppins, 15.4px, #141416) {
                        font-weight: 500;
                        line-height: 1.4;
                    }
                }

                &>:last-child {
                    @include text($Poppins, 12.5px, #64748b) {
                        line-height: 1.5;
                    }
                }
            }

            .recently-viewed__numbers {
                align-self: center;
                text-align: right;

                &>:first-child {
                    display: flex;
                    margin-bottom: 7.7px;

                    @include text($Poppins, 15.4px, #141416) {
                        font-weight: 600;
                        line-height: 1.4;
                    }
                }

                &>:last-child {
                    @include text($Poppins, 13.4px, $increasePrise) {
                        line-height: 1.5;
                    }
                }
            }

            .recently-viewed__numbers_red {
                align-self: center;
                text-align: right;

                &>:first-child {
                    display: flex;
                    margin-bottom: 7.7px;

                    @include text($Poppins, 15.4px, #141416) {
                        font-weight: 600;
                        line-height: 1.4;
                    }
                }

                &>:last-child {
                    @include text($Poppins, 13.4px, $decreasePrise) {
                        line-height: 1.5;
                    }
                }


            }

        }
    }
}

footer {
    background-color: #141416;
    padding: 92px 99px 81px 96px;

    .footer-content {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #818181;
        padding-bottom: 44px;

        .footer-logo {
            display: flex;
            align-items: center;

            span {
                font-size: 29.922px;
                font-weight: 600;
                color: #fff;
            }
        }

        nav {
            ul {
                li {
                    a {
                        color: #B9B9B9;
                    }
                }
            }
        }
    }

    .footer-about {
        margin-top: 59px;
        display: flex;
        justify-content: space-between;

        span {
            @include text($Inter, 17px, #999)
        }

        .socials {
            width: 234.462px;
            display: flex;
            justify-content: space-between;

            img {
                height: 21px;
            }
        }
    }
}