* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f9f9f9;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 45.04px;
  color: #141416;
  line-height: 44.8px;
  text-align: center;
  font-weight: 600;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header button {
  border: 1px solid #141416;
  background-color: #141416;
  padding: 10.5px 16.25px;
  border-radius: 11.501px;
  font-family: "Inter", sans-serif;
  font-size: 0.71881rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 150%;
}
.header button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.header-container {
  margin: 45px 93px 114px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}
nav .navs li {
  margin-right: 3.3rem;
  font-size: 17.829px;
}
nav .navs li a {
  font-family: "Inter", sans-serif;
  font-size: 0.79244rem;
  color: #606060;
  font-weight: 500;
}
nav .navs li:last-of-type {
  margin-right: 0px;
}

.search {
  background-image: url("images/search-bg.svg");
  background-repeat: no-repeat;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search img {
  padding: 18px 22px;
}
.search input {
  width: 197px;
  height: 18px;
  background-color: #EDEDED;
  border: 0px;
  font-size: 15.711px;
  letter-spacing: -0.314px;
}
.search input:focus {
  outline: none;
}
.search input::-webkit-input-placeholder {
  color: #C2C3CB;
}
.search input::-moz-placeholder {
  color: #C2C3CB;
}
.search input:-ms-input-placeholder {
  color: #C2C3CB;
}
.search input::-ms-input-placeholder {
  color: #C2C3CB;
}
.search input::placeholder {
  color: #C2C3CB;
}

.hero-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero-elem .hero-elem__text-container {
  margin: 0 130.6px 0 98px;
}
.hero-elem .hero-elem__text-container::before {
  content: "";
  display: inline-block;
  background-color: #cdcdcd;
  width: 195px;
  height: 1px;
  margin-bottom: 10px;
}
.hero-elem .text-container .hero-elem__text {
  margin-bottom: 2.81rem;
}
.hero-elem .text-container .hero-elem__text .hero-elem__title {
  margin-bottom: 16px;
  font-family: "Poppins", sans-serif;
  font-size: 4.69rem;
  color: #141416;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -3px;
}
.hero-elem .text-container .hero-elem__text .hero-elem__subtitle {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  color: #676767;
  font-weight: 600;
  line-height: 156%;
}
.hero-elem .text-container .hero-elem__text .hero-elem__subtitle strong {
  color: #141416;
}
.hero-elem .text-container .hero-elem__btns {
  margin-bottom: 82px;
}
.hero-elem .text-container .hero-elem__btns .hero-elem__btn_black {
  margin-right: 23px;
  border: 0px;
  background-color: #000;
  padding: 18px 30px;
  border-radius: 12.412px;
  font-family: "Poppins", sans-serif;
  font-size: 1.017rem;
  color: #fff;
  letter-spacing: 0.163px;
  text-transform: uppercase;
  font-weight: 500;
}
.hero-elem .text-container .hero-elem__btns .hero-elem__btn_black:hover {
  cursor: pointer;
  opacity: 0.9;
}
.hero-elem .text-container .hero-elem__btns .hero-elem__btn_white {
  border: 1.5px solid #000;
  background-color: transparent;
  padding: 18px 21px;
  border-radius: 12.412px;
  font-family: "Poppins", sans-serif;
  font-size: 1.017rem;
  color: #000;
  letter-spacing: 0.163px;
  text-transform: uppercase;
  font-weight: 500;
}
.hero-elem .text-container .hero-elem__btns .hero-elem__btn_white:hover {
  cursor: pointer;
}
.hero-elem .text-container .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero-elem .text-container .features .features__textblock {
  margin-right: 45.69px;
}
.hero-elem .text-container .features .features__textblock h1 {
  margin-bottom: 3.92px;
  font-family: "Public Sans", sans-serif;
  font-size: 36.77px;
  color: #141416;
  font-weight: 600;
  line-height: 125%;
}
.hero-elem .text-container .features .features__textblock p {
  margin-bottom: 165.08px;
  font-family: "Inter", sans-serif;
  font-size: 12.257px;
  color: #848586;
  font-weight: 500;
  line-height: 150%;
}
.hero-elem .hero-elem__img-container {
  position: relative;
}
.hero-elem .hero-elem__img-container .img-1 {
  position: absolute;
  top: 7px;
  z-index: 2;
}
.hero-elem .hero-elem__img-container .img-1_blur {
  position: absolute;
  top: 30.91px;
  border-radius: 11.957px;
  background: lightgray 50%/cover no-repeat;
  -webkit-filter: blur(41.850151062px);
          filter: blur(41.850151062px);
}
.hero-elem .hero-elem__img-container .img-2 {
  position: absolute;
  top: 188px;
  left: 431px;
  z-index: 2;
}
.hero-elem .hero-elem__img-container .img-2_blur {
  position: absolute;
  top: 212.74px;
  left: 431px;
  border-radius: 9.644px;
  background: lightgray 50%/cover no-repeat;
  -webkit-filter: blur(33.754776001px);
          filter: blur(33.754776001px);
}
.hero-elem .hero-elem__img-container .img-3 {
  position: absolute;
  top: 48px;
  left: 411px;
}
.hero-elem .hero-elem__img-container .img-4 {
  position: absolute;
  top: -12px;
  left: 607px;
}

.weekly {
  background-color: #F1F1F1;
  padding: 70px 0 90px;
  position: relative;
}
.weekly .weekly-title {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  color: #c5c5c5;
  font-weight: 600;
  line-height: 59.812%;
  text-align: center;
}
.weekly .slider-wrapper {
  padding: 109.1px 0 114.72px 0;
}
.weekly .slider {
  overflow: hidden;
}
.weekly .slider .slider-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.weekly .slider .slider-line .slider-elem-wrapper {
  margin-right: 39.84px;
  background-color: #fff;
  padding: 14.11px 14.11px 20.58px;
  border-radius: 23.479px;
  -webkit-box-shadow: 38.817px 11.763px 58.813px 0px rgba(199, 199, 199, 0.6);
          box-shadow: 38.817px 11.763px 58.813px 0px rgba(199, 199, 199, 0.6);
}
.weekly .slider .slider-line .slider-elem-wrapper .slider-elem {
  position: relative;
}
.weekly .slider .slider-line .slider-elem-wrapper .slider-elem .time {
  display: inline-block;
  position: absolute;
  top: 13.23px;
  left: 128.15px;
  z-index: 2;
  padding: 9.41px 14.12px;
  border-radius: 9.41px;
  border: 1.176px solid rgba(28, 29, 32, 0.08);
  background: rgba(28, 29, 32, 0.35);
  -webkit-box-shadow: 0px 4.705px 14.115px 0px rgba(28, 29, 32, 0.08);
          box-shadow: 0px 4.705px 14.115px 0px rgba(28, 29, 32, 0.08);
  -webkit-backdrop-filter: blur(2.3525207043px);
          backdrop-filter: blur(2.3525207043px);
  font-family: "Poppins", sans-serif;
  font-size: 14.115px;
  color: #fff;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.118px;
}
.weekly .slider .slider-line .slider-elem-wrapper .slider-elem > img {
  margin-bottom: 18.82px;
}
.weekly .slider .slider-line .slider-elem-wrapper .slider-elem h5 {
  margin-bottom: 14.12px;
  font-family: "Poppins", sans-serif;
  font-size: 21.173px;
  color: #141416;
  font-weight: 600;
  line-height: 140%;
}
.weekly .slider .slider-line .slider-elem-wrapper .slider-elem .current-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}
.weekly .slider .slider-line .slider-elem-wrapper .slider-elem .current-container .current-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.71px;
}
.weekly .slider .slider-line .slider-elem-wrapper .slider-elem .current-container .current-text > p {
  font-family: "Poppins", sans-serif;
  font-size: 14.115px;
  color: #94A3B8;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.118px;
}
.weekly .slider .slider-line .slider-elem-wrapper .slider-elem .current-container .current-text .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.35px;
}
.weekly .slider .slider-line .slider-elem-wrapper .slider-elem .current-container .current-text .number .number-text {
  font-family: "Poppins", sans-serif;
  font-size: 16.468px;
  color: #141416;
  font-weight: 400;
  line-height: 150%;
}
.weekly .slider .slider-line .slider-elem-wrapper .slider-elem .current-container .current-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px;
  background-color: #141416;
  padding: 9.41px 18.82px;
  border-radius: 11.763px;
  font-family: "Poppins", sans-serif;
  font-size: 14.115px;
  color: #fff;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.118px;
}
.weekly .slider .slider-line .slider-elem-wrapper .slider-elem .current-container .current-btn:hover {
  cursor: pointer;
  opacity: 0.93;
}
.weekly .navigation {
  width: 122.8px;
  height: 25.8px;
  margin: 0 auto;
  padding: 21.6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 17.2px;
  -webkit-box-shadow: 0 43.1px 34.5px -25.9px rgba(15, 15, 15, 0.12);
          box-shadow: 0 43.1px 34.5px -25.9px rgba(15, 15, 15, 0.12);
  background-color: #fcfcfd;
}
.weekly .navigation .navigation__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 34.5px;
}
.weekly .navigation .navigation__arrows .arrow-left {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  cursor: pointer;
}
.weekly .navigation .navigation__arrows .row {
  width: 2.2px;
  border-radius: 2.2px;
  background-color: #e6e8ec;
}
.weekly .navigation .navigation__arrows .arrow-right {
  cursor: pointer;
}

.recently-viewed {
  width: 365px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 26.4px 24px 21.1px;
  border-radius: 16px;
  -webkit-box-shadow: 10px 10px 50px 0 rgba(20, 20, 22, 0.1);
          box-shadow: 10px 10px 50px 0 rgba(20, 20, 22, 0.1);
  border: solid 1px #edf2f7;
  background-color: #fff;
  position: absolute;
  left: 976px;
  top: 1642px;
}
.recently-viewed .recently-viewed__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 27.6px;
}
.recently-viewed .recently-viewed__header h3 {
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  color: #1a202c;
  font-weight: 600;
  line-height: 1.35;
  letter-spacing: 0.2px;
}
.recently-viewed .recently-viewed__header img {
  cursor: pointer;
}
.recently-viewed .recently-viewed__items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.recently-viewed .recently-viewed__items-wrapper .recently-viewed__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
}
.recently-viewed .recently-viewed__items-wrapper .recently-viewed__item img.recently-viewed__icon {
  margin-right: 15.4px;
}
.recently-viewed .recently-viewed__items-wrapper .recently-viewed__item .recently-viewed__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.recently-viewed .recently-viewed__items-wrapper .recently-viewed__item .recently-viewed__text > :first-child {
  font-family: "Poppins", sans-serif;
  font-size: 15.4px;
  color: #141416;
  font-weight: 500;
  line-height: 1.4;
}
.recently-viewed .recently-viewed__items-wrapper .recently-viewed__item .recently-viewed__text > :last-child {
  font-family: "Poppins", sans-serif;
  font-size: 12.5px;
  color: #64748b;
  line-height: 1.5;
}
.recently-viewed .recently-viewed__items-wrapper .recently-viewed__item .recently-viewed__numbers {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: right;
}
.recently-viewed .recently-viewed__items-wrapper .recently-viewed__item .recently-viewed__numbers > :first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7.7px;
  font-family: "Poppins", sans-serif;
  font-size: 15.4px;
  color: #141416;
  font-weight: 600;
  line-height: 1.4;
}
.recently-viewed .recently-viewed__items-wrapper .recently-viewed__item .recently-viewed__numbers > :last-child {
  font-family: "Poppins", sans-serif;
  font-size: 13.4px;
  color: #10C352;
  line-height: 1.5;
}
.recently-viewed .recently-viewed__items-wrapper .recently-viewed__item .recently-viewed__numbers_red {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: right;
}
.recently-viewed .recently-viewed__items-wrapper .recently-viewed__item .recently-viewed__numbers_red > :first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7.7px;
  font-family: "Poppins", sans-serif;
  font-size: 15.4px;
  color: #141416;
  font-weight: 600;
  line-height: 1.4;
}
.recently-viewed .recently-viewed__items-wrapper .recently-viewed__item .recently-viewed__numbers_red > :last-child {
  font-family: "Poppins", sans-serif;
  font-size: 13.4px;
  color: #E23333;
  line-height: 1.5;
}

.top-collection {
  padding: 120.41px 95px 0 98px;
  margin-bottom: 100px;
}
.top-collection .top-collection__container .top-collection__title {
  margin-bottom: 90.59px;
}
.top-collection .top-collection__container .top-collection__collection-container .top-collection__subtitles {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: #93989A;
  line-height: 130%;
  letter-spacing: 1%;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
}
.top-collection .top-collection__container .top-collection__collection-container .top-collection__subtitles .other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 92.52px;
}
.top-collection .top-collection__container .top-collection__collection-container .top-collection__users-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 39.99px;
}
.top-collection .top-collection__container .top-collection__collection-container .top-collection__users-container .top-collection__user {
  padding-bottom: 26px;
  border-bottom: 1.69px solid #EBE9E9;
}
.top-collection .top-collection__container .top-collection__collection-container .top-collection__users-container .top-collection__user:last-of-type {
  margin-bottom: 84.99px;
}
.top-collection .top-collection__container .top-collection__collection-container .top-collection__users-container .top-collection__user .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 304.3px;
}
.top-collection .top-collection__container .top-collection__collection-container .top-collection__users-container .top-collection__user .profile .icon-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23.65px;
}
.top-collection .top-collection__container .top-collection__collection-container .top-collection__users-container .top-collection__user .profile .icon-name .name {
  white-space: nowrap;
}
.top-collection .top-collection__container .top-collection__collection-container .top-collection__users-container .top-collection__user .profile .icon-name .name p:first-of-type {
  font-family: "Poppins", sans-serif;
  font-size: 28.01px;
  color: #141416;
  line-height: 140%;
  font-weight: 500;
}
.top-collection .top-collection__container .top-collection__collection-container .top-collection__users-container .top-collection__user .profile .icon-name .name p:last-of-type {
  font-family: "Poppins", sans-serif;
  font-size: 22.76px;
  color: #64748B;
  line-height: 140%;
  font-weight: 500;
}
.top-collection .top-collection__container .top-collection__collection-container .top-collection__users-container .top-collection__user .profile .profile-other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top-collection .top-collection__container .top-collection__collection-container .top-collection__users-container .top-collection__user .profile .profile-other .profile__icon {
  width: 1.97rem;
  margin-right: 3.5px;
}
.top-collection .top-collection__container .top-collection__collection-container .top-collection__users-container .top-collection__user .profile .profile-other .volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 80.83px;
}
.top-collection .top-collection__container .top-collection__collection-container .top-collection__users-container .top-collection__user .profile .profile-other .volume p {
  font-family: "Poppins", sans-serif;
  font-size: 24.51px;
  color: #141416;
  line-height: 140%;
  font-weight: 600;
}
.top-collection .top-collection__container .top-collection__collection-container .top-collection__users-container .top-collection__user .profile .profile-other .profit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-right: 63.33px;
}
.top-collection .top-collection__container .top-collection__collection-container .top-collection__users-container .top-collection__user .profile .profile-other .profit p {
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  font-size: 24.51px;
  color: #10C352;
  line-height: 130%;
  letter-spacing: 1%;
  font-weight: 500;
}
.top-collection .top-collection__container .top-collection__collection-container .top-collection__users-container .top-collection__user .profile .profile-other .floor-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 145.94px;
}
.top-collection .top-collection__container .top-collection__collection-container .top-collection__users-container .top-collection__user .profile .profile-other .floor-price p {
  font-family: "Poppins", sans-serif;
  font-size: 24.51px;
  color: #141416;
  line-height: 140%;
  font-weight: 600;
}
.top-collection .top-collection__container .top-collection__collection-container .top-collection__users-container .top-collection__user .profile .profile-other .owners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 140.23px;
}
.top-collection .top-collection__container .top-collection__collection-container .top-collection__users-container .top-collection__user .profile .profile-other .owners p {
  font-family: "Poppins", sans-serif;
  font-size: 23.65px;
  color: #010101;
  line-height: 130%;
  letter-spacing: 1%;
  font-weight: 500;
}
.top-collection .top-collection__container .top-collection__collection-container .top-collection__users-container .top-collection__user .profile .profile-other .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-collection .top-collection__container .top-collection__collection-container .top-collection__users-container .top-collection__user .profile .profile-other .items p {
  font-family: "Poppins", sans-serif;
  font-size: 23.65px;
  color: #010101;
  line-height: 130%;
  letter-spacing: 1%;
  font-weight: 500;
}
.top-collection .top-collection__container .top-collection__collection-container .top-collection__explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
  cursor: pointer;
}
.top-collection .top-collection__container .top-collection__collection-container .top-collection__explore p {
  font-family: "Poppins", sans-serif;
  font-size: 17.67px;
  color: #ACADB9;
  line-height: 39.9%;
  letter-spacing: -0.09px;
  font-weight: 500;
}

.explore .explore-container .explore-title {
  margin-bottom: 65px;
}
.explore .explore-container .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 22px;
}
.explore .explore-container .filters .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 2.2px solid #141416;
  background-color: transparent;
  padding: 0;
  border-radius: 13.3px;
}
.explore .explore-container .filters .filter:hover {
  opacity: 0.6;
}
.explore .explore-container .filters .filter img {
  margin-right: 13.1px;
}
.explore .explore-container .filters .filter p {
  font-family: "Manrope", sans-serif;
  font-size: 15.47px;
  color: #1A202C;
  line-height: 150%;
  letter-spacing: 0.22px;
  font-weight: 600;
}
.explore .explore-container .filters .filters-all {
  padding: 14.5px 24.5px;
}
.explore .explore-container .filters .filters-category {
  padding: 0 16.1px;
}
.explore .explore-container .filters .filters-collection {
  padding: 0 16.43px;
}
.explore .explore-container .filters .filters-price {
  padding: 0 18px;
}
.explore .explore-container .filters-container {
  margin-bottom: 100.28px;
}
.explore .explore-container .explore-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 40px auto 40px auto 40px auto;
  grid-template-columns: repeat(4, auto);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 67.6px;
  justify-items: center;
  margin-bottom: 103.2px;
}
.explore .explore-container .explore-grid .grid-elem {
  width: 254.4px;
  height: 368.9px;
  position: relative;
  text-align: center;
  border-radius: 23.6px;
  background-color: #fff;
  padding: 14.1px 13.5px 20.6px 14.1px;
}
.explore .explore-container .explore-grid .grid-elem:nth-child(-n+3), .explore .explore-container .explore-grid .grid-elem:nth-child(n+5) {
  -webkit-box-shadow: 38.9px 11.8px 59px 0 rgba(199, 199, 199, 0.6);
          box-shadow: 38.9px 11.8px 59px 0 rgba(199, 199, 199, 0.6);
}
.explore .explore-container .explore-grid .grid-elem:nth-child(4), .explore .explore-container .explore-grid .grid-elem:nth-child(6) {
  -webkit-box-shadow: 17.8px 11.8px 59px 0 rgba(199, 199, 199, 0.6);
          box-shadow: 17.8px 11.8px 59px 0 rgba(199, 199, 199, 0.6);
}
.explore .explore-container .explore-grid .grid-elem .time {
  display: inline-block;
  position: absolute;
  top: 28.3px;
  left: 141.6px;
  z-index: 2;
  padding: 9.41px 14.12px;
  border-radius: 9.41px;
  border: 1.176px solid rgba(28, 29, 32, 0.08);
  background: rgba(28, 29, 32, 0.35);
  -webkit-box-shadow: 0px 4.705px 14.115px 0px rgba(28, 29, 32, 0.08);
          box-shadow: 0px 4.705px 14.115px 0px rgba(28, 29, 32, 0.08);
  -webkit-backdrop-filter: blur(2.3525207043px);
          backdrop-filter: blur(2.3525207043px);
  font-family: "Poppins", sans-serif;
  font-size: 14.2px;
  color: #fff;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.118px;
}
.explore .explore-container .explore-grid .grid-elem > img {
  margin-bottom: 18.82px;
}
.explore .explore-container .explore-grid .grid-elem h5 {
  margin-bottom: 14.12px;
  text-align: left;
  margin-bottom: 14.16px;
  font-family: "Poppins", sans-serif;
  font-size: 21.173px;
  color: #141416;
  font-weight: 600;
  line-height: 140%;
}
.explore .explore-container .explore-grid .grid-elem .current-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}
.explore .explore-container .explore-grid .grid-elem .current-container .current-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.71px;
}
.explore .explore-container .explore-grid .grid-elem .current-container .current-text > p {
  font-family: "Poppins", sans-serif;
  font-size: 14.2px;
  color: #94A3B8;
  line-height: 150%;
  letter-spacing: 0.118px;
}
.explore .explore-container .explore-grid .grid-elem .current-container .current-text .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.35px;
}
.explore .explore-container .explore-grid .grid-elem .current-container .current-text .number .number-text {
  font-family: "Poppins", sans-serif;
  font-size: 16.468px;
  color: #141416;
  line-height: 150%;
}
.explore .explore-container .explore-grid .grid-elem .current-container .current-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px;
  background-color: #141416;
  padding: 9.41px 18.82px;
  border-radius: 11.763px;
  font-family: "Poppins", sans-serif;
  font-size: 14.115px;
  color: #fff;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.118px;
}
.explore .explore-container .explore-grid .grid-elem .current-container .current-btn:hover {
  cursor: pointer;
  opacity: 0.93;
}
.explore .explore-container .explore__explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
  cursor: pointer;
  margin-bottom: 102.3px;
}
.explore .explore-container .explore__explore p {
  font-family: "Poppins", sans-serif;
  font-size: 17.67px;
  color: #ACADB9;
  line-height: 39.9%;
  letter-spacing: -0.09px;
  font-weight: 500;
}

footer {
  background-color: #141416;
  padding: 92px 99px 81px 96px;
}
footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #818181;
  padding-bottom: 44px;
}
footer .footer-content .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-content .footer-logo span {
  font-size: 29.922px;
  font-weight: 600;
  color: #fff;
}
footer .footer-content nav ul li a {
  color: #B9B9B9;
}
footer .footer-about {
  margin-top: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-about span {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  color: #999;
}
footer .footer-about .socials {
  width: 234.462px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-about .socials img {
  height: 21px;
}